body {
  box-sizing: border-box;
}
input {
  margin-bottom: 2px;
  width: 255px;
}
input[type='radio'] {
  width: 12px;
}
input[type='date'] {
  width: 215px;
}
label {
  display: inline-block;
  width: 150px;
}
.required {
  color: orange;
}
.error {
  padding-left: 10px;
  color: red;
}
