*{
    margin: 0;
    padding: 0;
}
.logo-img img{
    height: 55px;
}
.right-menu{  
margin-left: auto;
font-size: 22px;
}
.right-menu li{  
margin-right: 37px;
font-weight: 700;
}
.top-banner{
    
  background-color: #FFFBF0;
  padding-top: 30px;
  padding-bottom: 195px;
  
}
.banner{
    background-image: url("/Image/bg-2.png");
    background-repeat: no-repeat;
    background-position: top;
}
.cover-part h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    margin: 0;
    color: #363958;
}
#orange-highlight{
   color: #FABE4C; 
}
.cover-part p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}
.shopping-cart img{
    
height: 40px;
}
.shopping-cart{
    background-color: #A4BC46;
    border: 1px solid #A4BC46;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 14px 42px;
    font-weight: 700;
}
.woman-jacket{
    
border: none;
    
border-radius: 28px;
}
.woman-jacket:hover h5{
    color: #FABE4C;
}
.woman-jacket img{
    background-color: #F1F1F1;
    border-radius: 49px;
    margin: 14px;
    width: 93%;
    height: 60%;
}
h2{
    color: #363958;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 35px;
}
.woman-jacket h5{
    color: #363958;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.woman-jacket p , .subscribe p, .logo-info p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.woman-jacket-footer{
    border: none;
    background-color: #FFFFFF;
    border-radius: 28px !important;
    padding-bottom: 33px;
}

.shopping-cart i{

margin-right: 10px;

font-size: 23px;
}
.shopping-cart:hover{
    color: #FFFFFF;
    background-color: #FABE4C;
}
.woman-jacket-footer h3{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.fashion-card{
padding-bottom: 0;
}
 .logo-options{    
margin: 20px 0px;  
background-color: #FFFFFF;   
border-radius: 22px;    
padding: 26px 16px;
box-shadow: 1px 1px 4px grey;
     
 }
 .logo img{ 
width: 95px;   
margin: 0 20px;
 }
 .footer-part{
     background-color: #FFFBF0;
     padding: 22px 0;
 }
 
 .cupon-button {
    background-color: #A4BC46;
    border: 1px solid #A4BC46;
    padding: 13px 27px;
    color: #FFFFFF;
    border-radius: 0px 0px 28px 0px;
    font-size: 12px;
}
.cupon-button:hover{
    background-color: none;
    color: #FFFFFF;
}
 input[type="email"] {
     border: none;
     padding: 10px 38px;
     border: 1px solid #3E3E3E;
     
}

.follow{
    display: inline-flex;
    margin-top: 23px;
    }
    
    .social-media ul{
     
      list-style: none;
     
      display: flex;
     
      padding: 0%;
     
      margin: 0%;
     
      width: 38px;
     
    }
        .social-media ul li{
           border: 1px solid #A4BC46;
           padding: 6px 13px;
           border-radius: 0px;
           margin: 1px;
           background-color: #A4BC46;
        }
        .social-media ul li a{
            
         color: #FFFFFF;
        }
        .social-media ul li:hover{
            background: #FABE4C;
    
            border: 1px solid #FABE4C;
        }
    

        @media (max-width: 767.98px) {
            h2{
                text-align: center;
            }
            .logo-options{
                display: block !important;
                text-align: center;
               
            }
            .logo-img{
                text-align: center;
            }
            .banner{
                background-image: none;
            }

          }
         @media (max-width: 575.98px) {
            h2{
                text-align: center;
            }
            .logo-options{
                display: block !important;
                text-align: center;
               
            }
            .logo-img{
                text-align: center;
            }
            .banner{
                background-image: none;
            }
            .logo-img img{
                height: 30px;
            }
            .cupon-button{
                padding: 11px 23px;
                border-radius: 0px 0px 28px 0px;
                font-size: 15px;
            }
            .follow{
               display: block !important; 
               text-align: center;
            }
            input[type="email"] {
                border: none;
                padding: 10px 20px;
                border: 1px solid #3E3E3E;
           }
           .social-media{
           margin-left: 50px;
           }
           .shopping-cart{
            padding: 6px 8px;
            font-size: 12px;
            border-radius: 8px;
           }
           .logo-img img{
            height: 20px;
        }
          }
          @media (max-width: 375px) {
            .cupon-button{
                padding: 6px 23px;
               
            }
          }
         
          @media (max-width: 425px) {
            .cupon-button{
                padding: 10px 23px;
               
            }
          }

