<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./../static/css/login.css">
    <title>Login Form</title>
    </head>
    <body>
      <h1>Login Form</h1>
      <form id="loginForm" name="loginForm">
        <label for="username">Username: </label>
        <input type="text" name="username" value="">
        <br>
        <label for="password">Password: </label>
        <input type="password" name="password" value="">
        <br>
        <button type="submit">Login</button>
      </form>
      <span id="error" class="error" hidden>username or password doesn't match</span>

      <script type="text/javascript" src="./../static/js/login.js"></script>
    </body>
  </html>
