*{
    margin: 0;
    padding: 0;
}
.menu{
display: flex;   
padding: 5px 121px;
}
    .cover , .card ,.All-Highlights ,footer{
        padding: 33px 120px;
    }
    .menu a{
    text-decoration: none;
    padding: 24px;
    /* color: #00bcd4; */
    color: white;
    } 
    .left-menu{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    padding-top: 8px;
    color: white;
    }
    .right-menu{

    }
    .login-btn {
        background-color: #E02C6D;
        padding: 14px 40px;
        border: 1px solid #E02C6D;
        color: white;
        font-weight: 700;
        margin-left: 208px;
        margin-top: 22px;
        font-size: 15px;
    }
    .top-banner{
    
background-color: #2D25A0;
    
padding-top: 30px;
    
padding-bottom: 195px;
    
/* min-height: 66vh; */
    
height: 389px;
    
}
     
      .cover-part h1{
          font-family: 'Bebas Neue', cursive;
          font-size: 80px;
          margin: 0;
          color: #e91e63;
      }
      #orange-highlight{
         color: #FABE4C; 
      }
      .watch-btn{
        background-color: #E02C6D;
        padding: 14px 40px;
        border: 1px solid #E02C6D;
        color: white;
        font-weight: 700;
        margin-left: 6px;
        margin-top: 4px;
        font-size: 15px;
      }
      .watch-btn:hover{
        background-color: #2D25A0;
        border: 1px solid #E02C6D;
      }
      .login-btn:hover{
        background-color: #2D25A0;
        border: 1px solid #E02C6D;
      }
      .copa-america{
          display: flex;
      }
      .copa-america img{
          height: 33%;
      }
      .card{
display: flex;
      }
      .players{
        border: 1px solid #ffffff;
box-shadow: 0px 7px 16px grey;
margin-left: 48px;

padding: 12px;
}
      .players img{
          height: 262px;
      }
      .players h1{
        font-family: 'Bebas Neue', cursive;
      }
      .players p{

padding-top: 12px;

}
.Highlights{display: flex;margin-top: 65px;}
.Highlights h1{

margin-top: -6px;

font-size: 55px;

padding: 2px;
}
.Highlights p{
    
font-size: 18px;
    
padding: 4px;
}
.Highlights img{

height: 371px;
}
.logo img{
    
height: 83px;
}
footer {
    text-align: center;
}
.icons{
}
.icons ul{

display: flex;

/* text-decoration: none; */

list-style: none;

justify-content: center;

/* padding: 5px; */

/* margin-left: 4px; */
}
.icons ul li{

margin-left: 13px;

border: 1px soid darkslategray;
}
.icons ul li a i{
    background-color: #c3b1b1a6;
    border: 1px solid midnightblue;
    border-radius: 18px;
    padding: 10px;
}
.icons p{
    
font-size: 20px;
    
margin-top: 26px;
}